body{
background-color:black;
    position:relative;
}
a.Sim{

    font-family:cursive;
    font-size:20px;
    color:white;

}
@media screen and (max-width:768px){
    a.sim{
        color:red;
    }
}